.button {
  border: none;
  background-color: var(--fg-green);
  color: var(--fg-white);
  font-weight: semibold;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--fg-green);
  color: var(--fg-green);
}

.secondary:hover {
  background-color: var(--fg-light-green);
}
