.breadcrumbsBackground {
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  justify-content: center;
}

.breadcrumbs li:not(:first-of-type)::before {
  content: " > ";
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 1020px;
}

.breadcrumbs li {
  display: inline;
}

.recipeImage {
  height: 512px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -64px;
}

.main {
  max-width: 1020px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main > div {
  background-color: var(--bg-white);
  padding: 16px;
}

.recipeHead {
}
