.breadcrumbsBackground {
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  justify-content: center;
}

.breadcrumbs li:not(:first-of-type)::before {
  content: " > ";
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 1020px;
}

.breadcrumbs li {
  display: inline;
}

.recipeImage {
  height: 512px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -64px;
}

.main {
  max-width: 1020px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main > div {
  background-color: var(--bg-white);
  padding: 16px;
}

.recipeHead {
  display: grid;
  grid-template-areas: "titles action" "hr hr" "details1 details2";
  grid-template-columns: 1fr 300px;
}

.recipeHeadTitles {
  grid-area: titles;
}

.recipeHead h1 {
  margin-top: 0;
  font-size: 2.4rem;
}

.recipeHead hr {
  grid-area: hr;
  width: 100%;
}

.ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
}

.ingredients li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredients ul img {
  border-radius: 50%;
  border: 1px solid var(--border-gray);
  width: 70px;
}

.utensils ul {
  display: flex;
  gap: 32px;
}

hr {
  border: 1px solid var(--border-gray);
}

.step {
  display: grid;
  grid-template-areas: "image step instructions";
  grid-template-columns: "";
  gap: 16px;
}

.step > span {
  display: block;
  width: 50px;
  height: 50px;
}
