.ingredient {
}

.ingredient > div {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 7px;
  padding: 4px;
}

.ingredient > div:hover {
  background-color: var(--border-gray);
}

.image,
.imagePlaceholder {
  border-radius: 50%;
  border: 1px solid var(--border-gray);
  width: 70px;
  height: 70px;
  background-color: white;
  object-fit: cover;
  text-align: center;
}

.imagePlaceholder {
  padding-top: 10px;
  font-size: 34px;
  color: var(--border-gray)
}
