.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

  background-color: var(-fg-white);
  box-shadow: var(--box-shadow-normal);
  padding-left: 16px;
  padding-right: 16px;
}

.logoutBtn,
.logoutIcon {
  position: absolute;
  right: 16px;
}

.logoutBtn {
  min-width: 110px;
  display: none;
}

.logoutIcon {
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.logoutIcon:hover {
  background: var(--bg-beige);
  color: var(--fg-green);
}

.logo {
  height: 30px;
  display: block;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 1;
}

.menuItem {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .menuItem,
  .logoutBtn {
    display: inline;
  }

  .logoutIcon {
    display: none;
  }
}
