.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(-fg-white);
  box-shadow: var(--box-shadow-normal);
  padding-left: 16px;
  padding-right: 16px;
}

.logoutBtn {
  min-width: 110px;
  position: absolute;
  right: 16px;
}

.logo {
  height: 30px;
  display: block;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 1;
}

.menuItem {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .menuItem {
    display: inline;
  }
}
