.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  padding-left: 16px;
  padding-right: 16px;
}

.logoutBtn {
  margin-left: auto;
  min-width: 110px;
}
