.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

@media only screen and (max-width: 800px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
