:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-beige: #f8f8f8;
  --bg-white: #ffffff;

  --fg-green: #067a46;
  --fg-light-green: rgb(228, 250, 191);
  --fg-white: #ffffff;

  --border-gray: #e4e4e4;

  --font-color-secondary: rgb(103, 103, 103);

  --box-shadow-normal: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  --box-shadow-hover: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-beige);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 8px 0 16px 0;
}

a {
  text-decoration: none;
  color: inherit;
}
