:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --bg-beige: #f8f8f8;
  --bg-white: #ffffff;

  --fg-green: #067a46;
  --fg-white: #ffffff;

  --border-gray: #e4e4e4;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
