.beppoQuestions {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.speechBubble {
  background-color: var(--bg-white);
  border-radius: 13px;
  padding: 12px;
  display: grid;
  grid-template-areas:
    "pre-question pre-question pre-question pre-question pre-question x"
    "question question question question question ."
    "buttons buttons buttons buttons buttons ."
    "text-1 text-2 text-3 text-4 text-5 .";
  grid-template-columns: repeat(5, 1fr) auto;
  max-width: 600px;
  flex-grow: 1;
  position: relative;
  box-shadow: var(--box-shadow-normal);
}

.speechBubble::before {
  content: " ";
  position: absolute;
  left: -26px;
  width: 26px;
  height: 28px;
  top: 75%;
  background: url("speech-bubble-zipfel.svg") no-repeat;
  display: block;
}

.speechBubble::after {
  content: " ";
  position: absolute;
  left: -125px;
  width: 150px;
  height: 150px;
  top: calc(75% - 80px);
  background: url("beppo-fresh.png") no-repeat;
  background-size: 150px;
  display: block;
  animation: beppo-jump-in 0.5s 5 ease-in, beppo-walk-in 2.5s ease-out;
}

.preQuestion {
  grid-area: pre-question;
}

.question {
  grid-area: question;
  margin-top: 0;
}

.x {
  grid-area: x;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid var(--fg-green);
  border-radius: 8px;
  height: 90px;
  padding: 4px;
}

.buttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
}

.buttons button:not(:last-child) {
  border-right: 2px solid var(--fg-green);
}

.buttons button:hover {
  background-color: var(--bg-beige);
}

.text1 {
  grid-area: text-1;
  text-align: center;
}

.text5 {
  grid-area: text-5;
  text-align: center;
}

@keyframes beppo-jump-in {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -25px;
    transform: rotate(5deg);
  }

  100% {
    margin-top: 0;
  }
}

@keyframes beppo-walk-in {
  0% {
    margin-left: -500px;
  }

  100% {
    margin-left: 0;
  }
}
